In [1]:
import numpy as np
import pandas as pd
import pickle
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
eia = pd.read_pickle('eia_data.pkl')
eia

         dtime  sales  price  num_accounts
0   2008-01-01   6635   7.86       2195097
1   2008-02-01   6354   7.88       2195066
2   2008-03-01   5641   8.66       2197717
3   2008-04-01   5775   8.94       2200910
4   2008-05-01   6128   9.35       2201846
..         ...    ...    ...           ...
149 2020-06-01   7818   7.48       2463458
150 2020-07-01   8485   7.63       2467181
151 2020-08-01   8574   7.55       2465769
152 2020-09-01   8042   7.77       2462331
153 2020-10-01   7049   8.20       2446951

[154 rows x 4 columns]

In [3]:
permits = pd.read_pickle('permits.pkl')
permits

   permit_total      dtime
0          1561 2008-01-01
1          1311 2008-02-01
2          1494 2008-03-01
3          2094 2008-04-01
4          1560 2008-05-01
..          ...        ...
8          1554 2020-07-01
9          1609 2020-08-01
10         1547 2020-09-01
11         1556 2020-10-01
12         1342 2020-11-01

[154 rows x 2 columns]

In [4]:
economic = pd.read_pickle('economic_data.pkl')
economic

         dtime  personal_income       real_gdp  consumer_spending
0   2005-01-01    131337.100000  245979.300000      104689.400000
1   2005-02-01    131869.200000  246953.233333      105080.075000
2   2005-03-01    132401.300000  247927.166667      105470.750000
3   2005-04-01    132933.400000  248901.100000      105861.425000
4   2005-05-01    134956.333333  247409.666667      106252.100000
..         ...              ...            ...                ...
176 2019-09-01    222058.800000  241549.800000      171476.333333
177 2019-10-01    222895.600000  241835.400000      171899.000000
178 2019-11-01    222778.200000  239319.900000      172321.666667
179 2019-12-01    222660.800000  236804.400000      172744.333333
180 2020-01-01    222543.400000  234288.900000      173167.000000

[181 rows x 4 columns]

In [5]:
weather = pd.read_pickle('average_weather.pkl')
weather

         dtime  avg_temp_deg_f  avg_dew_humidity_pct  avg_wind_speed_mph
0   2008-01-01       49.893103             70.291034            7.846897
1   2008-10-01       66.101290             71.061935            5.221935
2   2008-11-01       57.177931             72.766897            5.836552
3   2008-12-01       54.577181             76.202013            8.412081
4   2008-02-01       57.235211             69.325352            8.550000
..         ...             ...                   ...                 ...
151 2020-05-01       73.684516             73.688387            7.609032
152 2020-06-01       80.309333             73.941333            6.800667
153 2020-07-01       82.293919             80.620270            6.439189
154 2020-08-01       81.644203             73.165942            6.184783
155 2020-09-01       72.323649             71.053378            7.295270

[156 rows x 4 columns]

In [6]:
state_pop = pd.read_pickle('state_pop.pkl')
state_pop

          dtime    population
0    1901-01-01  1.384000e+06
1    1901-02-01  1.386333e+06
2    1901-03-01  1.388667e+06
3    1901-04-01  1.391000e+06
4    1901-05-01  1.393333e+06
...         ...           ...
1435 2020-08-01  4.650721e+06
1436 2020-09-01  4.649640e+06
1437 2020-10-01  4.648560e+06
1438 2020-11-01  4.647479e+06
1439 2020-12-01  4.646399e+06

[1440 rows x 2 columns]

In [7]:
eia_permits = pd.merge(eia, permits, on="dtime")

In [8]:
eia_permits_economic = pd.merge(eia_permits, economic, on="dtime")
eia_permits_economic

,dtime,sales,price,num_accounts,permit_total,personal_income,real_gdp,consumer_spending
0,2008-01-01,6635,7.86,2195097,1561,163603.300000,232658.5,122382.600000
1,2008-02-01,6354,7.88,2195066,1311,166038.200000,233565.2,122773.458333
2,2008-03-01,5641,8.66,2197717,1494,168473.100000,234471.9,123164.316667
3,2008-04-01,5775,8.94,2200910,2094,170908.000000,235378.6,123555.175000
4,2008-05-01,6128,9.35,2201846,1560,170006.833333,235575.6,123946.033333
...,...,...,...,...,...,...,...,...
139,2019-08-01,9043,7.89,2415656,1497,221222.000000,241264.2,171053.666667
140,2019-09-01,9049,7.79,2415322,1436,222058.800000,241549.8,171476.333333
141,2019-11-01,6963,7.58,2416862,1127,222778.200000,239319.9,172321.666667
142,2019-12-01,7043,7.12,2416179,1099,222660.800000,236804.4,172744.333333
143,2020-01-01,7230,7.25,2436427,1259,222543.400000,234288.9,173167.000000

In [9]:
eia_permits_economic_weather = pd.merge(eia_permits_economic, weather, on="dtime")
eia_permits_economic_weather

,dtime,sales,price,num_accounts,permit_total,personal_income,real_gdp,consumer_spending,avg_temp_deg_f,avg_dew_humidity_pct,avg_wind_speed_mph
0,2008-01-01,6635,7.86,2195097,1561,163603.300000,232658.5,122382.600000,49.893103,70.291034,7.846897
1,2008-02-01,6354,7.88,2195066,1311,166038.200000,233565.2,122773.458333,57.235211,69.325352,8.550000
2,2008-03-01,5641,8.66,2197717,1494,168473.100000,234471.9,123164.316667,60.568874,68.307285,9.088742
3,2008-04-01,5775,8.94,2200910,2094,170908.000000,235378.6,123555.175000,67.212667,69.818667,7.596667
4,2008-05-01,6128,9.35,2201846,1560,170006.833333,235575.6,123946.033333,75.014667,71.646667,7.518000
...,...,...,...,...,...,...,...,...,...,...,...
139,2019-08-01,9043,7.89,2415656,1497,221222.000000,241264.2,171053.666667,83.453472,76.499306,4.991667
140,2019-09-01,9049,7.79,2415322,1436,222058.800000,241549.8,171476.333333,82.364336,71.200000,5.630070
141,2019-11-01,6963,7.58,2416862,1127,222778.200000,239319.9,172321.666667,56.670629,71.467832,6.406993
142,2019-12-01,7043,7.12,2416179,1099,222660.800000,236804.4,172744.333333,55.059722,74.677778,6.781944
143,2020-01-01,7230,7.25,2436427,1259,222543.400000,234288.9,173167.000000,55.500000,77.243871,7.670323

In [10]:
df = pd.merge(eia_permits_economic_weather, state_pop, on="dtime")
df

,dtime,sales,price,num_accounts,permit_total,personal_income,real_gdp,consumer_spending,avg_temp_deg_f,avg_dew_humidity_pct,avg_wind_speed_mph,population
0,2008-01-01,6635,7.86,2195097,1561,163603.300000,232658.5,122382.600000,49.893103,70.291034,7.846897,4.375581e+06
1,2008-02-01,6354,7.88,2195066,1311,166038.200000,233565.2,122773.458333,57.235211,69.325352,8.550000,4.380581e+06
2,2008-03-01,5641,8.66,2197717,1494,168473.100000,234471.9,123164.316667,60.568874,68.307285,9.088742,4.385582e+06
3,2008-04-01,5775,8.94,2200910,2094,170908.000000,235378.6,123555.175000,67.212667,69.818667,7.596667,4.390582e+06
4,2008-05-01,6128,9.35,2201846,1560,170006.833333,235575.6,123946.033333,75.014667,71.646667,7.518000,4.395583e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
139,2019-08-01,9043,7.89,2415656,1497,221222.000000,241264.2,171053.666667,83.453472,76.499306,4.991667,4.660854e+06
140,2019-09-01,9049,7.79,2415322,1436,222058.800000,241549.8,171476.333333,82.364336,71.200000,5.630070,4.660340e+06
141,2019-11-01,6963,7.58,2416862,1127,222778.200000,239319.9,172321.666667,56.670629,71.467832,6.406993,4.659312e+06
142,2019-12-01,7043,7.12,2416179,1099,222660.800000,236804.4,172744.333333,55.059722,74.677778,6.781944,4.658799e+06
143,2020-01-01,7230,7.25,2436427,1259,222543.400000,234288.9,173167.000000,55.500000,77.243871,7.670323,4.658285e+06

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dtime                 144 non-null    datetime64[ns]
 1   sales                 144 non-null    int64
 2   price                 144 non-null    float64
 3   num_accounts          144 non-null    int64
 4   permit_total          144 non-null    object
 5   personal_income       144 non-null    float64
 6   real_gdp              144 non-null    float64
 7   consumer_spending     144 non-null    float64
 8   avg_temp_deg_f        144 non-null    float64
 9   avg_dew_humidity_pct  144 non-null    float64
 10  avg_wind_speed_mph    144 non-null    float64
 11  population            144 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(1)
memory usage: 14.6+ KB

In [12]:
df.describe()

,sales,price,num_accounts,personal_income,real_gdp,consumer_spending,avg_temp_deg_f,avg_dew_humidity_pct,avg_wind_speed_mph,population
count,144.000000,144.000000,1.440000e+02,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,1.440000e+02
mean,7296.909722,7.752917,2.321016e+06,191593.027083,234019.163889,145061.254167,67.743099,74.025573,6.795585,4.592804e+06
std,948.996459,0.755495,6.518593e+04,17866.841383,6245.453514,14824.161976,11.730008,4.201531,1.274672,8.783072e+04
min,5483.000000,6.130000,2.195066e+06,162891.500000,224509.900000,122382.600000,44.933333,63.613636,4.445000,4.375581e+06
25%,6557.500000,7.315000,2.270697e+06,175280.841667,228582.025000,131322.116667,56.914185,71.167086,5.532242,4.543531e+06
50%,7132.000000,7.700000,2.323560e+06,193664.950000,234301.850000,143422.625000,68.355514,74.038833,6.965042,4.625041e+06
75%,8025.500000,8.105000,2.375314e+06,202513.100000,237517.225000,157141.337500,79.663548,76.814630,7.760464,4.665225e+06
max,9481.000000,11.070000,2.436427e+06,222778.200000,250534.900000,173167.000000,86.527742,85.499225,9.884667,4.681346e+06

In [13]:
df.to_pickle('df.pkl')