In [1]:
import numpy as np
import pandas as pd
import pickle
from datetime import datetime

In [2]:
kenner = pd.read_pickle('kenner_scrape.pkl')

In [3]:
baton_rouge = pd.read_pickle('baton_rouge_scrape.pkl')

In [4]:
lake_charles = pd.read_pickle('lake_charles_scrape.pkl')

In [5]:
alexandria = pd.read_pickle('alexandria_scrape.pkl')

In [6]:
shreveport = pd.read_pickle('shreveport_scrape.pkl')

In [7]:
all_cities = pd.concat([kenner, baton_rouge, lake_charles, alexandria, shreveport])

In [8]:
all_cities

,ID,max_temp_deg_f,avg_temp_deg_f,min_temp_deg_f,max_dew_point_deg_f,avg_dew_point_deg_f,min_dew_point_deg_f,max_dew_humidity_pct,avg_dew_humidity_pct,min_dew_humidity_pct,max_wind_speed_mph,avg_wind_speed_mph,min_wind_speed_mph,max_pressure_hg,avg_pressure_hg,min_pressure_hg,tot_precipitation_in
0,KMSY_2008-1,54,49.1,41,44,26.4,18,69,42.7,26,21,15.3,8,30.6,30.5,30.3,0.00
1,KMSY_2008-1,43,37.9,33,22,15.0,11,56,39.8,31,24,17.8,13,30.8,30.7,30.6,0.00
2,KMSY_2008-1,41,34.9,28,25,18.5,9,64,52.3,28,16,8.5,0,30.8,30.8,30.6,0.00
3,KMSY_2008-1,62,51.5,39,50,38.9,0,83,69.5,50,17,10.2,5,30.6,30.5,30.4,0.00
4,KMSY_2008-1,71,61.4,55,59,55.2,51,93,80.5,61,16,10.7,6,30.4,30.3,30.2,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3804,KSHV_2020-12,70,57.3,43,52,47.1,39,86,70.3,51,21,10.6,7,29.8,29.7,29.7,0.00
3805,KSHV_2020-12,62,57.4,51,56,51.5,45,93,81.0,67,13,5.8,0,30.0,29.9,29.8,0.00
3806,KSHV_2020-12,71,57.3,50,53,48.2,44,89,72.8,47,15,8.8,5,30.0,29.9,29.7,0.03
3807,KSHV_2020-12,73,60.9,51,62,55.2,47,90,81.9,64,18,11.2,0,29.7,29.7,29.6,0.01
3808,KSHV_2020-12,54,47.4,45,51,43.8,41,93,87.3,83,18,11.5,0,29.7,29.5,29.3,1.90

In [9]:
#create new dataframe with desired features
all_cities = all_cities[['ID', 'avg_temp_deg_f', 'avg_dew_humidity_pct', 'avg_wind_speed_mph']]
all_cities

                ID avg_temp_deg_f avg_dew_humidity_pct avg_wind_speed_mph
0      KMSY_2008-1           49.1                 42.7               15.3
1      KMSY_2008-1           37.9                 39.8               17.8
2      KMSY_2008-1           34.9                 52.3                8.5
3      KMSY_2008-1           51.5                 69.5               10.2
4      KMSY_2008-1           61.4                 80.5               10.7
...            ...            ...                  ...                ...
3804  KSHV_2020-12           57.3                 70.3               10.6
3805  KSHV_2020-12           57.4                 81.0                5.8
3806  KSHV_2020-12           57.3                 72.8                8.8
3807  KSHV_2020-12           60.9                 81.9               11.2
3808  KSHV_2020-12           47.4                 87.3               11.5

[22621 rows x 4 columns]

In [10]:
all_cities[['avg_temp_deg_f', 'avg_dew_humidity_pct', 'avg_wind_speed_mph']] = all_cities[['avg_temp_deg_f', 'avg_dew_humidity_pct', 'avg_wind_speed_mph']].astype(float)

/Users/dunleavyjason/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [11]:
all_cities[["city", "dtime"]] = all_cities.ID.str.split('_', expand = True)

In [12]:
del all_cities["ID"]
all_cities

      avg_temp_deg_f  avg_dew_humidity_pct  avg_wind_speed_mph  city    dtime
0               49.1                  42.7                15.3  KMSY   2008-1
1               37.9                  39.8                17.8  KMSY   2008-1
2               34.9                  52.3                 8.5  KMSY   2008-1
3               51.5                  69.5                10.2  KMSY   2008-1
4               61.4                  80.5                10.7  KMSY   2008-1
...              ...                   ...                 ...   ...      ...
3804            57.3                  70.3                10.6  KSHV  2020-12
3805            57.4                  81.0                 5.8  KSHV  2020-12
3806            57.3                  72.8                 8.8  KSHV  2020-12
3807            60.9                  81.9                11.2  KSHV  2020-12
3808            47.4                  87.3                11.5  KSHV  2020-12

[22621 rows x 5 columns]

In [13]:
average_weather = all_cities[["dtime","avg_temp_deg_f","avg_dew_humidity_pct","avg_wind_speed_mph"]].groupby(["dtime"]).aggregate(np.average)

In [14]:
average_weather

         avg_temp_deg_f  avg_dew_humidity_pct  avg_wind_speed_mph
dtime
2008-1        49.893103             70.291034            7.846897
2008-10       66.101290             71.061935            5.221935
2008-11       57.177931             72.766897            5.836552
2008-12       54.577181             76.202013            8.412081
2008-2        57.235211             69.325352            8.550000
...                 ...                   ...                 ...
2020-5        73.684516             73.688387            7.609032
2020-6        80.309333             73.941333            6.800667
2020-7        82.293919             80.620270            6.439189
2020-8        81.644203             73.165942            6.184783
2020-9        72.323649             71.053378            7.295270

[156 rows x 3 columns]

In [15]:
average_weather.reset_index(inplace = True)

In [16]:
#create new feature - temp_deviation - which calculates temp deviation from 65 degrees
average_weather["temp_deviation"] = np.abs(average_weather['avg_temp_deg_f'] - 65)

In [17]:
#create new feature - HDD_CDD - which identifies if day is heating or cooling degree day
average_weather['HDD_CDD'] = np.where(average_weather['avg_temp_deg_f']>65, 1, 0)
average_weather

,dtime,avg_temp_deg_f,avg_dew_humidity_pct,avg_wind_speed_mph,temp_deviation,HDD_CDD
0,2008-1,49.893103,70.291034,7.846897,15.106897,0
1,2008-10,66.101290,71.061935,5.221935,1.101290,1
2,2008-11,57.177931,72.766897,5.836552,7.822069,0
3,2008-12,54.577181,76.202013,8.412081,10.422819,0
4,2008-2,57.235211,69.325352,8.550000,7.764789,0
...,...,...,...,...,...,...
151,2020-5,73.684516,73.688387,7.609032,8.684516,1
152,2020-6,80.309333,73.941333,6.800667,15.309333,1
153,2020-7,82.293919,80.620270,6.439189,17.293919,1
154,2020-8,81.644203,73.165942,6.184783,16.644203,1
155,2020-9,72.323649,71.053378,7.295270,7.323649,1

In [18]:
average_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   dtime                 156 non-null    object
 1   avg_temp_deg_f        156 non-null    float64
 2   avg_dew_humidity_pct  156 non-null    float64
 3   avg_wind_speed_mph    156 non-null    float64
 4   temp_deviation        156 non-null    float64
 5   HDD_CDD               156 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.4+ KB

In [19]:
average_weather.describe()

,avg_temp_deg_f,avg_dew_humidity_pct,avg_wind_speed_mph,temp_deviation,HDD_CDD
count,156.000000,156.000000,156.000000,156.000000,156.000000
mean,67.877234,74.081810,6.825042,10.439092,0.589744
std,11.564414,4.097808,1.243668,5.691209,0.493464
min,44.933333,63.613636,4.445000,0.025850,0.000000
25%,56.994602,71.312384,5.650375,5.333018,0.000000
50%,68.416483,74.038833,7.001658,10.328190,1.000000
75%,79.663548,76.671939,7.746374,15.550937,1.000000
max,86.527742,85.499225,9.884667,21.527742,1.000000

In [20]:
average_weather["dtime"] = pd.to_datetime(average_weather['dtime'])

In [21]:
average_weather.to_pickle('average_weather.pkl')